$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-plus: "\e900";
$icon-plus1: "\e901";
$icon-plus2: "\e902";
$icon-plus4: "\e903";
$icon-plus5: "\e904";
$icon-plus6: "\e905";
$icon-plus7: "\e906";
$icon-plus8: "\e907";
$icon-plus9: "\e908";
$icon-plus10: "\e909";
$icon-px: "\e90a";
$icon-abacus: "\e90b";
$icon-accessible-icon-alt: "\e90c";
$icon-adjust-alt: "\e90d";
$icon-adjust-circle: "\e90e";
$icon-adjust-half: "\e90f";
$icon-adjust: "\e910";
$icon-adobe-alt: "\e911";
$icon-adobe: "\e912";
$icon-airplay: "\e913";
$icon-align-alt: "\e914";
$icon-align-center-alt: "\e915";
$icon-align-center-h: "\e916";
$icon-align-center-justify: "\e917";
$icon-align-center-v: "\e918";
$icon-align-center: "\e919";
$icon-align-justify: "\e91a";
$icon-align-left-justify: "\e91b";
$icon-align-left: "\e91c";
$icon-align-letter-right: "\e91d";
$icon-align-right-justify: "\e91e";
$icon-align-right: "\e91f";
$icon-align: "\e920";
$icon-amazon: "\e921";
$icon-ambulance: "\e922";
$icon-analysis: "\e923";
$icon-analytics: "\e924";
$icon-anchor: "\e925";
$icon-android-alt: "\e926";
$icon-android-phone-slash: "\e927";
$icon-android: "\e928";
$icon-angle-double-down: "\e929";
$icon-angle-double-left: "\e92a";
$icon-angle-double-right: "\e92b";
$icon-angle-double-up: "\e92c";
$icon-angle-down: "\e92d";
$icon-angle-left-b: "\e92e";
$icon-angle-left: "\e92f";
$icon-angle-right-1: "\e930";
$icon-angle-right-b-1: "\e931";
$icon-angle-right-b: "\e932";
$icon-angle-right: "\e933";
$icon-angle-up: "\e934";
$icon-angry: "\e935";
$icon-ankh: "\e936";
$icon-annoyed-alt: "\e937";
$icon-annoyed: "\e938";
$icon-apple-alt: "\e939";
$icon-apple: "\e93a";
$icon-apps: "\e93b";
$icon-archive-alt: "\e93c";
$icon-archive: "\e93d";
$icon-archway: "\e93e";
$icon-arrow-break: "\e93f";
$icon-arrow-circle-down: "\e940";
$icon-arrow-circle-left: "\e941";
$icon-arrow-circle-right: "\e942";
$icon-arrow-circle-up: "\e943";
$icon-arrow-compress-h: "\e944";
$icon-arrow-down-left: "\e945";
$icon-arrow-down-right: "\e946";
$icon-arrow-down: "\e947";
$icon-arrow-from-right: "\e948";
$icon-arrow-from-top: "\e949";
$icon-arrow-growth: "\e94a";
$icon-arrow-left: "\e94b";
$icon-arrow-random: "\e94c";
$icon-arrow-resize-diagonal: "\e94d";
$icon-arrow-right: "\e94e";
$icon-arrow-to-bottom: "\e94f";
$icon-arrow-to-right: "\e950";
$icon-arrow-up-left: "\e951";
$icon-arrow-up-right: "\e952";
$icon-arrow-up: "\e953";
$icon-arrow: "\e954";
$icon-arrows-h-alt: "\e955";
$icon-arrows-h: "\e956";
$icon-arrows-left-down: "\e957";
$icon-arrows-maximize: "\e958";
$icon-arrows-merge: "\e959";
$icon-arrows-resize-h: "\e95a";
$icon-arrows-resize-v: "\e95b";
$icon-arrows-resize: "\e95c";
$icon-arrows-right-down: "\e95d";
$icon-arrows-shrink-h: "\e95e";
$icon-arrows-shrink-v: "\e95f";
$icon-arrows-up-right: "\e960";
$icon-arrows-v-alt: "\e961";
$icon-arrows-v: "\e962";
$icon-assistive-listening-systems: "\e963";
$icon-asterisk: "\e964";
$icon-at: "\e965";
$icon-atom: "\e966";
$icon-auto-flash: "\e967";
$icon-award-alt: "\e968";
$icon-award: "\e969";
$icon-baby-carriage: "\e96a";
$icon-backpack: "\e96b";
$icon-backspace: "\e96c";
$icon-backward: "\e96d";
$icon-bag-alt: "\e96e";
$icon-bag-slash: "\e96f";
$icon-bag: "\e970";
$icon-balance-scale: "\e971";
$icon-ban: "\e972";
$icon-band-aid: "\e973";
$icon-bars: "\e974";
$icon-baseball-ball: "\e975";
$icon-basketball-hoop: "\e976";
$icon-basketball: "\e977";
$icon-bath: "\e978";
$icon-battery-bolt: "\e979";
$icon-battery-empty: "\e97a";
$icon-bed-double: "\e97b";
$icon-bed: "\e97c";
$icon-behance-alt: "\e97d";
$icon-behance: "\e97e";
$icon-bell-school: "\e97f";
$icon-bell-slash: "\e980";
$icon-bell: "\e981";
$icon-bill: "\e982";
$icon-bitcoin-alt: "\e983";
$icon-bitcoin-circle: "\e984";
$icon-bitcoin-sign: "\e985";
$icon-bitcoin: "\e986";
$icon-black-berry: "\e987";
$icon-blogger-alt: "\e988";
$icon-blogger: "\e989";
$icon-bluetooth-b: "\e98a";
$icon-bold: "\e98b";
$icon-bolt-alt: "\e98c";
$icon-bolt-slash: "\e98d";
$icon-bolt: "\e98e";
$icon-book-alt: "\e98f";
$icon-book-medical: "\e990";
$icon-book-open: "\e991";
$icon-book-reader: "\e992";
$icon-book: "\e993";
$icon-bookmark-full: "\e994";
$icon-bookmark: "\e995";
$icon-books: "\e996";
$icon-boombox: "\e997";
$icon-border-alt: "\e998";
$icon-border-bottom: "\e999";
$icon-border-clear: "\e99a";
$icon-border-horizontal: "\e99b";
$icon-border-inner: "\e99c";
$icon-border-left: "\e99d";
$icon-border-out: "\e99e";
$icon-border-right: "\e99f";
$icon-border-top: "\e9a0";
$icon-border-vertical: "\e9a1";
$icon-bowling-ball: "\e9a2";
$icon-box: "\e9a3";
$icon-brackets-curly: "\e9a4";
$icon-brain: "\e9a5";
$icon-briefcase-alt: "\e9a6";
$icon-briefcase: "\e9a7";
$icon-bright: "\e9a8";
$icon-brightness-empty: "\e9a9";
$icon-brightness-half: "\e9aa";
$icon-brightness-low: "\e9ab";
$icon-brightness-minus: "\e9ac";
$icon-brightness-plus: "\e9ad";
$icon-brightness: "\e9ae";
$icon-bring-bottom: "\e9af";
$icon-bring-front: "\e9b0";
$icon-browser: "\e9b1";
$icon-brush-alt: "\e9b2";
$icon-bug: "\e9b3";
$icon-building: "\e9b4";
$icon-bullseye: "\e9b5";
$icon-bus-alt: "\e9b6";
$icon-bus-school: "\e9b7";
$icon-bus: "\e9b8";
$icon-calculator-alt: "\e9b9";
$icon-calculator: "\e9ba";
$icon-calendar-alt: "\e9bb";
$icon-calendar-slash: "\e9bc";
$icon-calender: "\e9bd";
$icon-calling: "\e9be";
$icon-camera-change: "\e9bf";
$icon-camera-plus: "\e9c0";
$icon-camera-slash: "\e9c1";
$icon-camera: "\e9c2";
$icon-cancel: "\e9c3";
$icon-capsule: "\e9c4";
$icon-capture: "\e9c5";
$icon-car-sideview: "\e9c6";
$icon-car-slash: "\e9c7";
$icon-car-wash: "\e9c8";
$icon-car: "\e9c9";
$icon-card-atm: "\e9ca";
$icon-caret-right: "\e9cb";
$icon-cell: "\e9cc";
$icon-celsius: "\e9cd";
$icon-channel-add: "\e9ce";
$icon-channel: "\e9cf";
$icon-chart-bar-alt: "\e9d0";
$icon-chart-bar: "\e9d1";
$icon-chart-down: "\e9d2";
$icon-chart-growth-alt: "\e9d3";
$icon-chart-growth: "\e9d4";
$icon-chart-line: "\e9d5";
$icon-chart-pie-alt: "\e9d6";
$icon-chart-pie: "\e9d7";
$icon-chart: "\e9d8";
$icon-chat-bubble-user: "\e9d9";
$icon-chat-info: "\e9da";
$icon-chat: "\e9db";
$icon-check-circle: "\e9dc";
$icon-check-square: "\e9dd";
$icon-check: "\e9de";
$icon-circle-layer: "\e9df";
$icon-circle: "\e9e0";
$icon-circuit: "\e9e1";
$icon-clapper-board: "\e9e2";
$icon-clinic-medical: "\e9e3";
$icon-clipboard-alt: "\e9e4";
$icon-clipboard-blank: "\e9e5";
$icon-clipboard-notes: "\e9e6";
$icon-clipboard: "\e9e7";
$icon-clock-eight: "\e9e8";
$icon-clock-five: "\e9e9";
$icon-clock-nine: "\e9ea";
$icon-clock-seven: "\e9eb";
$icon-clock-ten: "\e9ec";
$icon-clock-three: "\e9ed";
$icon-clock-two: "\e9ee";
$icon-clock: "\e9ef";
$icon-closed-captioning-slash: "\e9f0";
$icon-closed-captioning: "\e9f1";
$icon-cloud-block: "\e9f2";
$icon-cloud-bookmark: "\e9f3";
$icon-cloud-check: "\e9f4";
$icon-cloud-computing: "\e9f5";
$icon-cloud-data-connection: "\e9f6";
$icon-cloud-database-tree: "\e9f7";
$icon-cloud-download: "\e9f8";
$icon-cloud-drizzle: "\e9f9";
$icon-cloud-exclamation: "\e9fa";
$icon-cloud-hail: "\e9fb";
$icon-cloud-heart: "\e9fc";
$icon-cloud-info: "\e9fd";
$icon-cloud-lock: "\e9fe";
$icon-cloud-meatball: "\e9ff";
$icon-cloud-moon-hail: "\ea00";
$icon-cloud-moon-meatball: "\ea01";
$icon-cloud-moon-rain: "\ea02";
$icon-cloud-moon-showers: "\ea03";
$icon-cloud-moon: "\ea04";
$icon-cloud-question: "\ea05";
$icon-cloud-rain-sun: "\ea06";
$icon-cloud-rain: "\ea07";
$icon-cloud-redo: "\ea08";
$icon-cloud-share: "\ea09";
$icon-cloud-shield: "\ea0a";
$icon-cloud-showers-alt: "\ea0b";
$icon-cloud-showers-heavy: "\ea0c";
$icon-cloud-showers: "\ea0d";
$icon-cloud-slash: "\ea0e";
$icon-cloud-sun-hail: "\ea0f";
$icon-cloud-sun-meatball: "\ea10";
$icon-cloud-sun-rain-alt: "\ea11";
$icon-cloud-sun-rain: "\ea12";
$icon-cloud-sun-tear: "\ea13";
$icon-cloud-sun: "\ea14";
$icon-cloud-times: "\ea15";
$icon-cloud-unlock: "\ea16";
$icon-cloud-upload: "\ea17";
$icon-cloud-wifi: "\ea18";
$icon-cloud-wind: "\ea19";
$icon-cloud: "\ea1a";
$icon-clouds: "\ea1b";
$icon-club: "\ea1c";
$icon-code-branch: "\ea1d";
$icon-coffee: "\ea1e";
$icon-cog: "\ea1f";
$icon-coins: "\ea20";
$icon-columns: "\ea21";
$icon-comment-add: "\ea22";
$icon-comment-alt-block: "\ea23";
$icon-comment-alt-chart-lines: "\ea24";
$icon-comment-alt-check: "\ea25";
$icon-comment-alt-dots: "\ea26";
$icon-comment-alt-download: "\ea27";
$icon-comment-alt-edit: "\ea28";
$icon-comment-alt-exclamation: "\ea29";
$icon-comment-alt-heart: "\ea2a";
$icon-comment-alt-image: "\ea2b";
$icon-comment-alt-info: "\ea2c";
$icon-comment-alt-lines: "\ea2d";
$icon-comment-alt-lock: "\ea2e";
$icon-comment-alt-medical: "\ea2f";
$icon-comment-alt-message: "\ea30";
$icon-comment-alt-notes: "\ea31";
$icon-comment-alt-plus: "\ea32";
$icon-comment-alt-question: "\ea33";
$icon-comment-alt-redo: "\ea34";
$icon-comment-alt-search: "\ea35";
$icon-comment-alt-share: "\ea36";
$icon-comment-alt-shield: "\ea37";
$icon-comment-alt-slash: "\ea38";
$icon-comment-alt-upload: "\ea39";
$icon-comment-alt-verify: "\ea3a";
$icon-comment-alt: "\ea3b";
$icon-comment-block: "\ea3c";
$icon-comment-chart-line: "\ea3d";
$icon-comment-check: "\ea3e";
$icon-comment-dots: "\ea3f";
$icon-comment-download: "\ea40";
$icon-comment-edit: "\ea41";
$icon-comment-exclamation: "\ea42";
$icon-comment-heart: "\ea43";
$icon-comment-image: "\ea44";
$icon-comment-info-alt: "\ea45";
$icon-comment-info: "\ea46";
$icon-comment-lines: "\ea47";
$icon-comment-lock: "\ea48";
$icon-comment-medical: "\ea49";
$icon-comment-message: "\ea4a";
$icon-comment-notes: "\ea4b";
$icon-comment-plus: "\ea4c";
$icon-comment-question: "\ea4d";
$icon-comment-redo: "\ea4e";
$icon-comment-search: "\ea4f";
$icon-comment-share: "\ea50";
$icon-comment-shield: "\ea51";
$icon-comment-slash: "\ea52";
$icon-comment-upload: "\ea53";
$icon-comment-verify: "\ea54";
$icon-comment: "\ea55";
$icon-comments-alt: "\ea56";
$icon-comments: "\ea57";
$icon-compact-disc: "\ea58";
$icon-comparison: "\ea59";
$icon-compass: "\ea5a";
$icon-compress-alt-left: "\ea5b";
$icon-compress-alt: "\ea5c";
$icon-compress-arrows: "\ea5d";
$icon-compress-lines: "\ea5e";
$icon-compress-point: "\ea5f";
$icon-compress-v: "\ea60";
$icon-compress: "\ea61";
$icon-confused: "\ea62";
$icon-constructor: "\ea63";
$icon-copy-alt: "\ea64";
$icon-copy-landscape: "\ea65";
$icon-copy: "\ea66";
$icon-copyright: "\ea67";
$icon-corner-down-left: "\ea68";
$icon-corner-down-right-alt: "\ea69";
$icon-corner-down-right: "\ea6a";
$icon-corner-left-down: "\ea6b";
$icon-corner-right-down: "\ea6c";
$icon-corner-up-left-alt: "\ea6d";
$icon-corner-up-left: "\ea6e";
$icon-corner-up-right-alt: "\ea6f";
$icon-corner-up-right: "\ea70";
$icon-coronavirus: "\ea71";
$icon-create-dashboard: "\ea72";
$icon-creative-commons-pd: "\ea73";
$icon-credit-card-search: "\ea74";
$icon-credit-card: "\ea75";
$icon-crockery: "\ea76";
$icon-crop-alt-rotate-left: "\ea77";
$icon-crop-alt-rotate-right: "\ea78";
$icon-crop-alt: "\ea79";
$icon-crosshair-alt: "\ea7a";
$icon-crosshair: "\ea7b";
$icon-crosshairs: "\ea7c";
$icon-cube: "\ea7d";
$icon-dashboard: "\ea7e";
$icon-data-sharing: "\ea7f";
$icon-database-alt: "\ea80";
$icon-database: "\ea81";
$icon-desert: "\ea82";
$icon-desktop-alt-slash: "\ea83";
$icon-desktop-alt: "\ea84";
$icon-desktop-cloud-alt: "\ea85";
$icon-desktop-slash: "\ea86";
$icon-desktop: "\ea87";
$icon-dialpad-alt: "\ea88";
$icon-dialpad: "\ea89";
$icon-diamond: "\ea8a";
$icon-diary-alt: "\ea8b";
$icon-diary: "\ea8c";
$icon-dice-five: "\ea8d";
$icon-dice-four: "\ea8e";
$icon-dice-one: "\ea8f";
$icon-dice-six: "\ea90";
$icon-dice-three: "\ea91";
$icon-dice-two: "\ea92";
$icon-direction: "\ea93";
$icon-directions: "\ea94";
$icon-dizzy-meh: "\ea95";
$icon-dna: "\ea96";
$icon-document-info: "\ea97";
$icon-document-layout-center: "\ea98";
$icon-document-layout-left: "\ea99";
$icon-document-layout-right: "\ea9a";
$icon-dollar-alt: "\ea9b";
$icon-dollar-sign-alt: "\ea9c";
$icon-dollar-sign: "\ea9d";
$icon-download-alt: "\ea9e";
$icon-dribbble: "\ea9f";
$icon-drill: "\eaa0";
$icon-dropbox: "\eaa1";
$icon-dumbbell: "\eaa2";
$icon-ear: "\eaa3";
$icon-edit-alt: "\eaa4";
$icon-edit: "\eaa5";
$icon-ellipsis-h: "\eaa6";
$icon-ellipsis-v: "\eaa7";
$icon-emoji: "\eaa8";
$icon-enter: "\eaa9";
$icon-envelope-add: "\eaaa";
$icon-envelope-alt: "\eaab";
$icon-envelope-block: "\eaac";
$icon-envelope-bookmark: "\eaad";
$icon-envelope-check: "\eaae";
$icon-envelope-download-alt: "\eaaf";
$icon-envelope-download: "\eab0";
$icon-envelope-edit: "\eab1";
$icon-envelope-exclamation: "\eab2";
$icon-envelope-heart: "\eab3";
$icon-envelope-info: "\eab4";
$icon-envelope-lock: "\eab5";
$icon-envelope-minus: "\eab6";
$icon-envelope-open: "\eab7";
$icon-envelope-question: "\eab8";
$icon-envelope-receive: "\eab9";
$icon-envelope-redo: "\eaba";
$icon-envelope-search: "\eabb";
$icon-envelope-send: "\eabc";
$icon-envelope-share: "\eabd";
$icon-envelope-shield: "\eabe";
$icon-envelope-star: "\eabf";
$icon-envelope-times: "\eac0";
$icon-envelope-upload-alt: "\eac1";
$icon-envelope-upload: "\eac2";
$icon-envelope: "\eac3";
$icon-envelopes: "\eac4";
$icon-equal-circle: "\eac5";
$icon-euro-circle: "\eac6";
$icon-euro: "\eac7";
$icon-exchange-alt: "\eac8";
$icon-exchange: "\eac9";
$icon-exclamation-circle: "\eaca";
$icon-exclamation-octagon: "\eacb";
$icon-exclamation-triangle: "\eacc";
$icon-exclude: "\eacd";
$icon-exit: "\eace";
$icon-expand-alt: "\eacf";
$icon-expand-arrows-alt: "\ead0";
$icon-expand-arrows: "\ead1";
$icon-expand-from-corner: "\ead2";
$icon-expand-left: "\ead3";
$icon-expand-right: "\ead4";
$icon-export: "\ead5";
$icon-exposure-alt: "\ead6";
$icon-exposure-increase: "\ead7";
$icon-external-link-alt: "\ead8";
$icon-eye-slash: "\ead9";
$icon-eye: "\eada";
$icon-facebook-f: "\eadb";
$icon-facebook-messenger-alt: "\eadc";
$icon-facebook-messenger: "\eadd";
$icon-facebook: "\eade";
$icon-fahrenheit: "\eadf";
$icon-fast-mail-alt: "\eae0";
$icon-fast-mail: "\eae1";
$icon-favorite: "\eae2";
$icon-feedback: "\eae3";
$icon-file-alt-1: "\eae4";
$icon-file-alt: "\eae5";
$icon-file-blank: "\eae6";
$icon-file-block-alt: "\eae7";
$icon-file-bookmark-alt: "\eae8";
$icon-file-check-alt: "\eae9";
$icon-file-check: "\eaea";
$icon-file-contract-dollar: "\eaeb";
$icon-file-copy-alt: "\eaec";
$icon-file-download-alt: "\eaed";
$icon-file-download: "\eaee";
$icon-file-edit-alt: "\eaef";
$icon-file-exclamation-alt: "\eaf0";
$icon-file-exclamation: "\eaf1";
$icon-file-export: "\eaf2";
$icon-file-heart: "\eaf3";
$icon-file-import: "\eaf4";
$icon-file-info-alt: "\eaf5";
$icon-file-landscape-alt: "\eaf6";
$icon-file-landscape: "\eaf7";
$icon-file-lanscape-slash: "\eaf8";
$icon-file-lock-alt: "\eaf9";
$icon-file-medical-alt: "\eafa";
$icon-file-medical: "\eafb";
$icon-file-minus-alt: "\eafc";
$icon-file-minus: "\eafd";
$icon-file-network: "\eafe";
$icon-file-plus-alt: "\eaff";
$icon-file-plus: "\eb00";
$icon-file-question-alt: "\eb01";
$icon-file-question: "\eb02";
$icon-file-redo-alt: "\eb03";
$icon-file-search-alt: "\eb04";
$icon-file-share-alt: "\eb05";
$icon-file-shield-alt: "\eb06";
$icon-file-slash: "\eb07";
$icon-file-times-alt: "\eb08";
$icon-file-times: "\eb09";
$icon-file-upload-alt: "\eb0a";
$icon-file-upload: "\eb0b";
$icon-file: "\eb0c";
$icon-files-landscapes-alt: "\eb0d";
$icon-files-landscapes: "\eb0e";
$icon-film: "\eb0f";
$icon-filter-slash: "\eb10";
$icon-filter: "\eb11";
$icon-fire: "\eb12";
$icon-flask-potion: "\eb13";
$icon-flask: "\eb14";
$icon-flip-h-alt: "\eb15";
$icon-flip-h: "\eb16";
$icon-flip-v-alt: "\eb17";
$icon-flip-v: "\eb18";
$icon-flower: "\eb19";
$icon-focus-add: "\eb1a";
$icon-focus-target: "\eb1b";
$icon-focus: "\eb1c";
$icon-folder-check: "\eb1d";
$icon-folder-download: "\eb1e";
$icon-folder-exclamation: "\eb1f";
$icon-folder-heart: "\eb20";
$icon-folder-info: "\eb21";
$icon-folder-lock: "\eb22";
$icon-folder-medical: "\eb23";
$icon-folder-minus: "\eb24";
$icon-folder-network: "\eb25";
$icon-folder-open: "\eb26";
$icon-folder-plus: "\eb27";
$icon-folder-question: "\eb28";
$icon-folder-slash: "\eb29";
$icon-folder-times: "\eb2a";
$icon-folder-upload: "\eb2b";
$icon-folder: "\eb2c";
$icon-football-american: "\eb2d";
$icon-football-ball: "\eb2e";
$icon-football: "\eb2f";
$icon-forecastcloud-moon-tear: "\eb30";
$icon-forwaded-call: "\eb31";
$icon-forward: "\eb32";
$icon-frown: "\eb33";
$icon-game-structure: "\eb34";
$icon-gift: "\eb35";
$icon-github-alt: "\eb36";
$icon-github: "\eb37";
$icon-glass-martini-alt-slash: "\eb38";
$icon-glass-martini-alt: "\eb39";
$icon-glass-martini: "\eb3a";
$icon-glass-tea: "\eb3b";
$icon-glass: "\eb3c";
$icon-globe: "\eb3d";
$icon-gold: "\eb3e";
$icon-golf-ball: "\eb3f";
$icon-google-drive-alt: "\eb40";
$icon-google-drive: "\eb41";
$icon-google-hangouts-alt: "\eb42";
$icon-google-hangouts: "\eb43";
$icon-google-play: "\eb44";
$icon-google: "\eb45";
$icon-graduation-cap: "\eb46";
$icon-graph-bar: "\eb47";
$icon-grid: "\eb48";
$icon-grids: "\eb49";
$icon-grin-tongue-wink-alt: "\eb4a";
$icon-grin-tongue-wink: "\eb4b";
$icon-grin: "\eb4c";
$icon-grip-horizontal-line: "\eb4d";
$icon-hard-hat: "\eb4e";
$icon-hdd: "\eb4f";
$icon-head-side-cough: "\eb50";
$icon-head-side-mask: "\eb51";
$icon-head-side: "\eb52";
$icon-headphones-alt: "\eb53";
$icon-headphones: "\eb54";
$icon-heart-alt: "\eb55";
$icon-heart-break: "\eb56";
$icon-heart-medical: "\eb57";
$icon-heart-rate: "\eb58";
$icon-heart-sign: "\eb59";
$icon-heart: "\eb5a";
$icon-heartbeat: "\eb5b";
$icon-history-alt: "\eb5c";
$icon-history: "\eb5d";
$icon-home-alt: "\eb5e";
$icon-home: "\eb5f";
$icon-horizontal-align-center: "\eb60";
$icon-horizontal-align-left: "\eb61";
$icon-horizontal-align-right: "\eb62";
$icon-horizontal-distribution-center: "\eb63";
$icon-horizontal-distribution-left: "\eb64";
$icon-horizontal-distribution-right: "\eb65";
$icon-hospital-square-sign: "\eb66";
$icon-hospital-symbol: "\eb67";
$icon-hospital: "\eb68";
$icon-hourglass: "\eb69";
$icon-house-user: "\eb6a";
$icon-html3-alt: "\eb6b";
$icon-html3: "\eb6c";
$icon-hunting: "\eb6d";
$icon-image-alt-slash: "\eb6e";
$icon-image-block: "\eb6f";
$icon-image-broken: "\eb70";
$icon-image-check: "\eb71";
$icon-image-download: "\eb72";
$icon-image-edit: "\eb73";
$icon-image-lock: "\eb74";
$icon-image-minus: "\eb75";
$icon-image-plus: "\eb76";
$icon-image-question: "\eb77";
$icon-image-redo: "\eb78";
$icon-image-resize-landscape: "\eb79";
$icon-image-resize-square: "\eb7a";
$icon-image-search: "\eb7b";
$icon-image-share: "\eb7c";
$icon-image-shield: "\eb7d";
$icon-image-slash: "\eb7e";
$icon-image-times: "\eb7f";
$icon-image-upload: "\eb80";
$icon-image-v: "\eb81";
$icon-image: "\eb82";
$icon-images: "\eb83";
$icon-import: "\eb84";
$icon-incoming-call: "\eb85";
$icon-info-circle: "\eb86";
$icon-instagram-alt: "\eb87";
$icon-instagram: "\eb88";
$icon-intercom-alt: "\eb89";
$icon-intercom: "\eb8a";
$icon-invoice: "\eb8b";
$icon-italic: "\eb8c";
$icon-jackhammer: "\eb8d";
$icon-java-script: "\eb8e";
$icon-kayak: "\eb8f";
$icon-key-skeleton-alt: "\eb90";
$icon-key-skeleton: "\eb91";
$icon-keyboard-alt: "\eb92";
$icon-keyboard-hide: "\eb93";
$icon-keyboard-show: "\eb94";
$icon-keyboard: "\eb95";
$icon-keyhole-circle: "\eb96";
$icon-keyhole-square-full: "\eb97";
$icon-keyhole-square: "\eb98";
$icon-kid: "\eb99";
$icon-label-alt: "\eb9a";
$icon-label: "\eb9b";
$icon-lamp: "\eb9c";
$icon-laptop-cloud: "\eb9d";
$icon-laptop-connection: "\eb9e";
$icon-laptop: "\eb9f";
$icon-laughing: "\eba0";
$icon-layer-group-slash: "\eba1";
$icon-layer-group: "\eba2";
$icon-layers-alt: "\eba3";
$icon-layers-slash: "\eba4";
$icon-layers: "\eba5";
$icon-left-arrow-from-left: "\eba6";
$icon-left-arrow-to-left: "\eba7";
$icon-left-indent-alt: "\eba8";
$icon-left-indent: "\eba9";
$icon-left-to-right-text-direction: "\ebaa";
$icon-life-ring: "\ebab";
$icon-lightbulb-alt: "\ebac";
$icon-lightbulb: "\ebad";
$icon-line-alt: "\ebae";
$icon-line-spacing: "\ebaf";
$icon-line: "\ebb0";
$icon-link-add: "\ebb1";
$icon-link-alt: "\ebb2";
$icon-link-broken: "\ebb3";
$icon-link-h: "\ebb4";
$icon-link: "\ebb5";
$icon-linkedin-alt: "\ebb6";
$icon-linkedin: "\ebb7";
$icon-list-ui-alt: "\ebb8";
$icon-list-ul: "\ebb9";
$icon-location-arrow-alt: "\ebba";
$icon-location-arrow: "\ebbb";
$icon-location-pin-alt: "\ebbc";
$icon-location-point: "\ebbd";
$icon-lock-access: "\ebbe";
$icon-lock-alt: "\ebbf";
$icon-lock-open-alt: "\ebc0";
$icon-lock-slash: "\ebc1";
$icon-lock: "\ebc2";
$icon-luggage-cart: "\ebc3";
$icon-mailbox-alt: "\ebc4";
$icon-mailbox: "\ebc5";
$icon-map-marker-alt: "\ebc6";
$icon-map-marker-edit: "\ebc7";
$icon-map-marker-info: "\ebc8";
$icon-map-marker-minus: "\ebc9";
$icon-map-marker-plus: "\ebca";
$icon-map-marker-question: "\ebcb";
$icon-map-marker-shield: "\ebcc";
$icon-map-marker-slash: "\ebcd";
$icon-map-marker: "\ebce";
$icon-map-pin-alt: "\ebcf";
$icon-map-pin: "\ebd0";
$icon-map: "\ebd1";
$icon-mars: "\ebd2";
$icon-master-card: "\ebd3";
$icon-maximize-left: "\ebd4";
$icon-maximize-short: "\ebd5";
$icon-medal: "\ebd6";
$icon-medical-drip: "\ebd7";
$icon-medical-square-full: "\ebd8";
$icon-medical-square: "\ebd9";
$icon-medium-m: "\ebda";
$icon-medkit: "\ebdb";
$icon-meeting-board: "\ebdc";
$icon-megaphone: "\ebdd";
$icon-meh-alt: "\ebde";
$icon-meh-closed-eye: "\ebdf";
$icon-meh: "\ebe0";
$icon-message: "\ebe1";
$icon-metro: "\ebe2";
$icon-microphone-slash: "\ebe3";
$icon-microphone: "\ebe4";
$icon-microscope: "\ebe5";
$icon-minimize-short: "\ebe6";
$icon-minus-circle: "\ebe7";
$icon-minus-path: "\ebe8";
$icon-minus-square-full: "\ebe9";
$icon-minus-square: "\ebea";
$icon-minus: "\ebeb";
$icon-missed-call: "\ebec";
$icon-mobile-android-alt: "\ebed";
$icon-mobile-android: "\ebee";
$icon-mobile-vibrate: "\ebef";
$icon-modem: "\ebf0";
$icon-money-bill-slash: "\ebf1";
$icon-money-bill-stack: "\ebf2";
$icon-money-bill: "\ebf3";
$icon-money-insert: "\ebf4";
$icon-money-stack: "\ebf5";
$icon-money-withdraw: "\ebf6";
$icon-money-withdrawal: "\ebf7";
$icon-moneybag-alt: "\ebf8";
$icon-moneybag: "\ebf9";
$icon-monitor-heart-rate: "\ebfa";
$icon-monitor: "\ebfb";
$icon-moon-eclipse: "\ebfc";
$icon-moon: "\ebfd";
$icon-moonset: "\ebfe";
$icon-mountains-sun: "\ebff";
$icon-mountains: "\ec00";
$icon-mouse-alt-2: "\ec01";
$icon-mouse-alt: "\ec02";
$icon-mouse: "\ec03";
$icon-multiply: "\ec04";
$icon-music-note: "\ec05";
$icon-music-tune-slash: "\ec06";
$icon-music: "\ec07";
$icon-n-a: "\ec08";
$icon-navigator: "\ec09";
$icon-nerd: "\ec0a";
$icon-newspaper: "\ec0b";
$icon-ninja: "\ec0c";
$icon-no-entry: "\ec0d";
$icon-notebooks: "\ec0e";
$icon-notes: "\ec0f";
$icon-object-group: "\ec10";
$icon-object-ungroup: "\ec11";
$icon-octagon: "\ec12";
$icon-opera-alt: "\ec13";
$icon-opera: "\ec14";
$icon-outgoing-call: "\ec15";
$icon-package: "\ec16";
$icon-padlock: "\ec17";
$icon-paint-tool: "\ec18";
$icon-palette: "\ec19";
$icon-panel-add: "\ec1a";
$icon-panorama-h-alt: "\ec1b";
$icon-panorama-h: "\ec1c";
$icon-panorama-v: "\ec1d";
$icon-paperclip: "\ec1e";
$icon-paragraph: "\ec1f";
$icon-parcel: "\ec20";
$icon-parking-circle: "\ec21";
$icon-parking-square: "\ec22";
$icon-Path: "\ec23";
$icon-pathfinder-unite: "\ec24";
$icon-pathfinder: "\ec25";
$icon-pause-circle: "\ec26";
$icon-pause: "\ec27";
$icon-paypal: "\ec28";
$icon-pen: "\ec29";
$icon-pentagon: "\ec2a";
$icon-percentage: "\ec2b";
$icon-phone-alt: "\ec2c";
$icon-phone-pause: "\ec2d";
$icon-phone-slash: "\ec2e";
$icon-phone-times: "\ec2f";
$icon-phone-volume: "\ec30";
$icon-phone: "\ec31";
$icon-picture: "\ec32";
$icon-pizza-slice: "\ec33";
$icon-plane-arrival: "\ec34";
$icon-plane-departure: "\ec35";
$icon-plane-fly: "\ec36";
$icon-plane: "\ec37";
$icon-play-circle: "\ec38";
$icon-play: "\ec39";
$icon-plug: "\ec3a";
$icon-plus-circle: "\ec3b";
$icon-plus-square: "\ec3c";
$icon-plus3: "\ec3d";
$icon-podium: "\ec3e";
$icon-polygon: "\ec3f";
$icon-post-stamp: "\ec40";
$icon-postcard: "\ec41";
$icon-pound-circle: "\ec42";
$icon-pound: "\ec43";
$icon-power: "\ec44";
$icon-prescription-bottle: "\ec45";
$icon-presentation-check: "\ec46";
$icon-presentation-edit: "\ec47";
$icon-presentation-line: "\ec48";
$icon-presentation-lines-alt: "\ec49";
$icon-presentation-minus: "\ec4a";
$icon-presentation-play: "\ec4b";
$icon-presentation-plus: "\ec4c";
$icon-presentation-times: "\ec4d";
$icon-presentation: "\ec4e";
$icon-previous: "\ec4f";
$icon-pricetag-alt: "\ec50";
$icon-print-slash: "\ec51";
$icon-print: "\ec52";
$icon-process: "\ec53";
$icon-processor: "\ec54";
$icon-pump: "\ec55";
$icon-puzzle-piece: "\ec56";
$icon-qrcode-scan: "\ec57";
$icon-question-circle: "\ec58";
$icon-rainbow: "\ec59";
$icon-raindrops-alt: "\ec5a";
$icon-raindrops: "\ec5b";
$icon-react: "\ec5c";
$icon-receipt-alt: "\ec5d";
$icon-receipt: "\ec5e";
$icon-record-audio: "\ec5f";
$icon-reddit-alien-alt: "\ec60";
$icon-redo: "\ec61";
$icon-refresh: "\ec62";
$icon-registered: "\ec63";
$icon-repeat: "\ec64";
$icon-restaurant: "\ec65";
$icon-right-indent-alt: "\ec66";
$icon-right-to-left-text-direction: "\ec67";
$icon-robot: "\ec68";
$icon-rocket: "\ec69";
$icon-rope-way: "\ec6a";
$icon-rotate-360: "\ec6b";
$icon-rss-alt: "\ec6c";
$icon-rss-interface: "\ec6d";
$icon-rss: "\ec6e";
$icon-ruler-combined: "\ec6f";
$icon-ruler: "\ec70";
$icon-rupee-sign: "\ec71";
$icon-sad-cry: "\ec72";
$icon-sad-crying: "\ec73";
$icon-sad-dizzy: "\ec74";
$icon-sad-squint: "\ec75";
$icon-sad: "\ec76";
$icon-sanitizer-alt: "\ec77";
$icon-sanitizer: "\ec78";
$icon-save: "\ec79";
$icon-scaling-left: "\ec7a";
$icon-scaling-right: "\ec7b";
$icon-scenery: "\ec7c";
$icon-schedule: "\ec7d";
$icon-screw: "\ec7e";
$icon-scroll-h: "\ec7f";
$icon-scroll: "\ec80";
$icon-search-alt: "\ec81";
$icon-search-minus: "\ec82";
$icon-search-plus: "\ec83";
$icon-search: "\ec84";
$icon-selfie: "\ec85";
$icon-server-alt: "\ec86";
$icon-server-connection: "\ec87";
$icon-server-network-alt: "\ec88";
$icon-server-network: "\ec89";
$icon-server: "\ec8a";
$icon-servers: "\ec8b";
$icon-servicemark: "\ec8c";
$icon-setting: "\ec8d";
$icon-share-alt: "\ec8e";
$icon-share: "\ec8f";
$icon-shield-check: "\ec90";
$icon-shield-exclamation: "\ec91";
$icon-shield-plus: "\ec92";
$icon-shield-question: "\ec93";
$icon-shield-slash: "\ec94";
$icon-shield: "\ec95";
$icon-ship: "\ec96";
$icon-shop: "\ec97";
$icon-shopping-bag: "\ec98";
$icon-shopping-basket: "\ec99";
$icon-shopping-cart-alt: "\ec9a";
$icon-shopping-cart: "\ec9b";
$icon-shovel: "\ec9c";
$icon-shrink: "\ec9d";
$icon-shuffle: "\ec9e";
$icon-shutter-alt: "\ec9f";
$icon-shutter: "\eca0";
$icon-sick: "\eca1";
$icon-sigma: "\eca2";
$icon-sign-alt: "\eca3";
$icon-sign-in-alt: "\eca4";
$icon-sign-left: "\eca5";
$icon-sign-out-alt: "\eca6";
$icon-sign-right: "\eca7";
$icon-signal-alt-3: "\eca8";
$icon-signal-alt: "\eca9";
$icon-signal: "\ecaa";
$icon-signin: "\ecab";
$icon-silence: "\ecac";
$icon-silent-squint: "\ecad";
$icon-sim-card: "\ecae";
$icon-sitemap: "\ecaf";
$icon-skip-forward-alt: "\ecb0";
$icon-skip-forward-circle: "\ecb1";
$icon-skip-forward: "\ecb2";
$icon-skype-alt: "\ecb3";
$icon-skype: "\ecb4";
$icon-slack-alt: "\ecb5";
$icon-slack: "\ecb6";
$icon-sliders-v-alt: "\ecb7";
$icon-sliders-v: "\ecb8";
$icon-smile-beam: "\ecb9";
$icon-smile-dizzy: "\ecba";
$icon-smile-squint-wink-alt: "\ecbb";
$icon-smile-squint-wink: "\ecbc";
$icon-smile-wink-alt: "\ecbd";
$icon-smile-wink: "\ecbe";
$icon-smile: "\ecbf";
$icon-snapchat-alt: "\ecc0";
$icon-snapchat-ghost: "\ecc1";
$icon-snapchat-square: "\ecc2";
$icon-snow-flake: "\ecc3";
$icon-snowflake-alt: "\ecc4";
$icon-snowflake: "\ecc5";
$icon-social-distancing: "\ecc6";
$icon-sort-amount-down: "\ecc7";
$icon-sort-amount-up: "\ecc8";
$icon-sort: "\ecc9";
$icon-sorting: "\ecca";
$icon-space-key: "\eccb";
$icon-spade: "\eccc";
$icon-sperms: "\eccd";
$icon-spin: "\ecce";
$icon-square-full: "\eccf";
$icon-square-shape: "\ecd0";
$icon-square: "\ecd1";
$icon-squint: "\ecd2";
$icon-star-filled: "\ecd3";
$icon-star-half-alt: "\ecd4";
$icon-star: "\ecd5";
$icon-step-backward-alt: "\ecd6";
$icon-step-backward-circle: "\ecd7";
$icon-step-backward: "\ecd8";
$icon-step-forward: "\ecd9";
$icon-stethoscope-alt: "\ecda";
$icon-stethoscope: "\ecdb";
$icon-stop-circle: "\ecdc";
$icon-stopwatch-slash: "\ecdd";
$icon-stopwatch: "\ecde";
$icon-store-alt: "\ecdf";
$icon-store-slash: "\ece0";
$icon-store: "\ece1";
$icon-streering: "\ece2";
$icon-stretcher: "\ece3";
$icon-subject: "\ece4";
$icon-subway-alt: "\ece5";
$icon-subway: "\ece6";
$icon-suitcase-alt: "\ece7";
$icon-suitcase: "\ece8";
$icon-sun: "\ece9";
$icon-sunset: "\ecea";
$icon-surprise: "\eceb";
$icon-swatchbook: "\ecec";
$icon-swiggy: "\eced";
$icon-swimmer: "\ecee";
$icon-sync-exclamation: "\ecef";
$icon-sync-slash: "\ecf0";
$icon-sync: "\ecf1";
$icon-syringe: "\ecf2";
$icon-table-tennis: "\ecf3";
$icon-table: "\ecf4";
$icon-tablet: "\ecf5";
$icon-tablets: "\ecf6";
$icon-tachometer-fast-alt: "\ecf7";
$icon-tachometer-fast: "\ecf8";
$icon-tag-alt: "\ecf9";
$icon-tag: "\ecfa";
$icon-tape: "\ecfb";
$icon-taxi: "\ecfc";
$icon-tear: "\ecfd";
$icon-telegram-alt: "\ecfe";
$icon-telegram: "\ecff";
$icon-telescope: "\ed00";
$icon-temperature-empty: "\ed01";
$icon-temperature-half: "\ed02";
$icon-temperature-minus: "\ed03";
$icon-temperature-plus: "\ed04";
$icon-temperature-quarter: "\ed05";
$icon-temperature-three-quarter: "\ed06";
$icon-temperature: "\ed07";
$icon-tennis-ball: "\ed08";
$icon-text-fields: "\ed09";
$icon-text-size: "\ed0a";
$icon-text-strike-through: "\ed0b";
$icon-text: "\ed0c";
$icon-th-large: "\ed0d";
$icon-th-slash: "\ed0e";
$icon-th: "\ed0f";
$icon-thermometer: "\ed10";
$icon-thumbs-down: "\ed11";
$icon-thumbs-up: "\ed12";
$icon-thunderstorm-moon: "\ed13";
$icon-thunderstorm-sun: "\ed14";
$icon-thunderstorm: "\ed15";
$icon-ticket: "\ed16";
$icon-times-circle: "\ed17";
$icon-times-square: "\ed18";
$icon-times: "\ed19";
$icon-toggle-off: "\ed1a";
$icon-toggle-on: "\ed1b";
$icon-toilet-paper: "\ed1c";
$icon-top-arrow-from-top: "\ed1d";
$icon-top-arrow-to-top: "\ed1e";
$icon-tornado: "\ed1f";
$icon-trademark-circle: "\ed20";
$icon-trademark: "\ed21";
$icon-traffic-barrier: "\ed22";
$icon-traffic-light: "\ed23";
$icon-transaction: "\ed24";
$icon-trash-alt-1: "\ed25";
$icon-trash-alt: "\ed26";
$icon-trash: "\ed27";
$icon-trees: "\ed28";
$icon-triangle: "\ed29";
$icon-trophy: "\ed2a";
$icon-trowel: "\ed2b";
$icon-truck-loading: "\ed2c";
$icon-truck: "\ed2d";
$icon-tumblr-alt: "\ed2e";
$icon-tumblr-square: "\ed2f";
$icon-tumblr: "\ed30";
$icon-tv-retro-slash: "\ed31";
$icon-tv-retro: "\ed32";
$icon-twitter-alt: "\ed33";
$icon-twitter: "\ed34";
$icon-umbrella: "\ed35";
$icon-unamused: "\ed36";
$icon-underline: "\ed37";
$icon-university: "\ed38";
$icon-unlock-alt: "\ed39";
$icon-unlock: "\ed3a";
$icon-upload-alt: "\ed3b";
$icon-upload: "\ed3c";
$icon-usd-circle: "\ed3d";
$icon-usd-square: "\ed3e";
$icon-user-arrows: "\ed3f";
$icon-user-check: "\ed40";
$icon-user-circle: "\ed41";
$icon-user-exclamation: "\ed42";
$icon-user-location: "\ed43";
$icon-user-md: "\ed44";
$icon-user-minus: "\ed45";
$icon-user-nurse: "\ed46";
$icon-user-plus: "\ed47";
$icon-user-square: "\ed48";
$icon-user-times: "\ed49";
$icon-user: "\ed4a";
$icon-users-alt: "\ed4b";
$icon-utensils-alt: "\ed4c";
$icon-utensils: "\ed4d";
$icon-vector-square-alt: "\ed4e";
$icon-vector-square: "\ed4f";
$icon-venus: "\ed50";
$icon-vertical-align-bottom: "\ed51";
$icon-vertical-align-center: "\ed52";
$icon-vertical-align-top: "\ed53";
$icon-vertical-distribute-bottom: "\ed54";
$icon-vertical-distribution-center: "\ed55";
$icon-vertical-distribution-top: "\ed56";
$icon-video-slash: "\ed57";
$icon-video: "\ed58";
$icon-virus-slash: "\ed59";
$icon-visual-studio: "\ed5a";
$icon-vk-alt: "\ed5b";
$icon-vk: "\ed5c";
$icon-voicemail-rectangle: "\ed5d";
$icon-voicemail: "\ed5e";
$icon-volleyball: "\ed5f";
$icon-volume-down: "\ed60";
$icon-volume-mute: "\ed61";
$icon-volume-off: "\ed62";
$icon-volume-up: "\ed63";
$icon-volume: "\ed64";
$icon-vuejs-alt: "\ed65";
$icon-vuejs: "\ed66";
$icon-wall: "\ed67";
$icon-wallet: "\ed68";
$icon-watch-alt: "\ed69";
$icon-watch: "\ed6a";
$icon-water-drop-slash: "\ed6b";
$icon-water-glass: "\ed6c";
$icon-water: "\ed6d";
$icon-web-grid-alt: "\ed6e";
$icon-web-grid: "\ed6f";
$icon-web-section-alt: "\ed70";
$icon-web-section: "\ed71";
$icon-webcam: "\ed72";
$icon-weight: "\ed73";
$icon-whatsapp-alt: "\ed74";
$icon-whatsapp: "\ed75";
$icon-wheel-barrow: "\ed76";
$icon-wheelchair-alt: "\ed77";
$icon-wheelchair: "\ed78";
$icon-wifi-router: "\ed79";
$icon-wifi-slash: "\ed7a";
$icon-wifi: "\ed7b";
$icon-wind-moon: "\ed7c";
$icon-wind-sun: "\ed7d";
$icon-wind: "\ed7e";
$icon-window-grid: "\ed7f";
$icon-window-maximize: "\ed80";
$icon-window-section: "\ed81";
$icon-window: "\ed82";
$icon-windsock: "\ed83";
$icon-windy: "\ed84";
$icon-wrap-text: "\ed85";
$icon-wrench: "\ed86";
$icon-x-add: "\ed87";
$icon-x: "\ed88";
$icon-yen-circle: "\ed89";
$icon-yen: "\ed8a";
$icon-yin-yang: "\ed8b";
$icon-youtube: "\ed8c";

